* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorMapaBsAs {
  width: 200px !important;
  height: 200px !important;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapaBsAs {
  width: 200px !important;
  height: 200px !important;
}
.leaflet-control-zoom {
  display: none !important;
}
.leaflet-control-attribution {
  display: none;
}
@media only screen and (max-width: 480px) {
  .contenedorMapaBsAs {
    width: 100px !important;
    height: 100px !important;
    margin: 0px !important;
    padding: 0px !important;
  }
}
