* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorMapaCordoba {
  width: 12vw !important;
  height: 12vw !important;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapaCordoba {
  width: 12vw !important;
  height: 12vw !important;
}
.leaflet-control-zoom {
  display: none !important;
}
@media only screen and (max-width: 480px) {
  .contenedorMapaCordoba {
    width: 20vw !important;
    height: 20vw !important;
    margin: 0px !important;
    padding: 0px !important;
  }
}
