* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorMapaOficina {
  width: 200px !important;
  height: 200px !important;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapaOficina {
  width: 200px !important;
  height: 200px !important;
}
.leaflet-control-zoom {
  display: none !important;
}

@media only screen and (max-width: 480px) {
  .contenedorMapaOficina {
    width: 15vw !important;
    height: 15vw !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .mapaOficina {
    width: 50px !important;
  }
}
