* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarContainer {
  width: 100vw !important;
  background-color: #02012b;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  min-height: 80px;
  max-height: 150px;
  padding: 20px;
  margin: 0px !important;
}
.containerNav {
  width: 100vw !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.pages {
  width: 50vw !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  margin: 5px;
  padding: 0px;
}
.navbar-nav {
  width: 60vw !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw !important;
  margin: 2px;
}
.logoLogincor {
  margin: 5px;
  width: 17vw !important;
  transition: transform 0.3s ease-in-out;
}

.nav-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 7vw;
  font-size: 1vw;
  font-weight: lighter !important;
  display: flex;
  margin: 2px;
  align-items: center !important;
  text-align: center !important;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease-in-out !important;
  border-radius: 15px;
}

.nav-link:hover {
  color: #02012b;
  background-color: rgba(255, 255, 255, 0.667);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.nav-link.active {
  transition: transform 0.3s ease-in-out !important;
  color: #02012b;
  background-color: rgba(255, 255, 255, 0.667);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand img:hover {
  transform: scale(1.05);
}

.hamburguesa {
  color: white !important;
}
.navbar-toggler {
  margin-right: 40px;
  border: none; /* Elimina el borde en el estado normal */
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none; /* Elimina cualquier sombra que pueda aparecer */
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
button:active {
  border: none;
  border-color: transparent !important;
}

.offcanvas-custom {
  width: 33vw !important; /* Un tercio del ancho de la ventana */
  background-color: #02012b !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: end !important;
  align-items: end !important;
}
.titleBurguer {
  width: 80px !important;
  height: 30px !important;
  color: white !important;
  padding: 0px !;
}
.offcanvas-custom .nav-link {
  display: flex !important;
  flex-direction: column !important;
  padding: 0.5rem 0;
}
.contenidoBurguer {
  width: 60vw;
  display: flex;
  align-items: start;
  justify-content: center;
}
.headerBurguer {
  margin: 10px;
}
.btn-close-white {
  color: white !important;
  border-radius: 5px; /* Redondear los bordes del botón */
  width: 20px !important; /* Tamaño del botón */
  height: 20px !important;
  margin-left: 15px !important;
  padding: 2px !important;
  margin: 0px !important;
}

.btn-close-white:hover {
  background-color: white !important; /* Cambia el color de fondo al pasar el cursor */
  color: rebeccapurple !important; /* Cambia el color del ícono */
  border: 2px solid rebeccapurple; /* Agrega un borde al hacer hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Animación suave */
}
@media only screen and (max-width: 480px) {
  .contenidoBurguer {
    width: 33vw !important;
  }
  .offcanvas-custom {
    width: 33vw !important;
  }
  .offcanvas-body {
    width: 33vw !important;
  }
  .offcanvas-header {
    color: white !important;
  }

  .navbarContainer {
    width: 100vw !important;
    height: auto !important;
    margin: 0px;
    padding: 10px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .logoLogincor {
    width: 30vw !important;
    margin: 2px;
  }
  .nav-link {
    font-size: 11px !important;
    width: 18vw !important;
    height: 30px;
    margin: 15px !important;
    padding: 2px;
  }
  .pages {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap !important;
    margin: 10px 0px !important;
    width: 80vw !important;
    height: 20px !important;
  }
  .navbar-nav {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
    justify-content: left !important;
    margin: 5px;
    width: 33vw !important;
    height: auto !important;
  }
  .navbar-brand {
    width: 30vw !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin: 0px;
  }
}
