* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorMapaBsAsContacto {
  width: 14vw !important;
  height: 14vw !important;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapaBsAsContacto {
  width: 14vw !important;
  height: 14vw !important;
}
.leaflet-control-zoom {
  display: none !important;
}
.leaflet-control-attribution {
  display: none;
}
@media only screen and (max-width: 480px) {
  .contenedorMapaBsAsContacto {
    width: 18vw !important;
    height: 18vw !important;
    margin: 0px !important;
    padding: 0px !important;
  }
}
