* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorContacto {
  width: 100vw;
  height: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedorImgContacto {
  margin: 10px !important;
  width: 460px !important;
  height: 62px !important;
  background-color: #02012b;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 15px;
  margin-top: 20px !important;
}
.comunicateConNosotros {
  height: 30px !important;
  width: auto;
  margin: 10px;
}
.contenedorDirecciones {
  width: 800px !important;
  background-color: #02012b;
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.contenedorDirecciones:hover {
  transform: scale(1.05);
}
.contenedorIndividual {
  width: 1000px !important;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: center !important;
  padding: 20px;
}
.contenedorTextos {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.texto1Direcciones {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}
.texto2Direcciones {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: white;
}

.botonMapaContacto {
  width: 150px;
  margin: 10px !important;
  background-color: white !important;
  color: #02012b !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-style: italic !important;
  text-transform: none !important;
  transition: transform 0.3s ease;
}
.botonMapaContacto:hover {
  background-color: #02012b;
  color: white;
  border: 1px solid white;
  transform: scale(1.1);
}
.contenedorMapa {
  width: 450px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.contenedorBoton {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .contenedorContacto {
    width: 100vw !important;
    height: auto;
    margin: 0px;
  }
  .contenedorImgContacto {
    width: 70vw !important;
    height: 10vw !important;
    margin: 0px !important;
    margin-top: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .comunicateConNosotros {
    height: 18px !important;
    width: auto !important;
    margin: 1px !important;
  }
  .todasCards {
    width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px;
  }
  .contenedorDirecciones {
    width: 380px !important;
    margin: 5px !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .contenedorIndividual {
    width: 380px !important;
    margin: 5px;
    padding: 5px;
    display: flex !important;
    flex-direction: row !important;
  }
  .contenedorTextos {
    width: 200px;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
  }
  .texto1Direcciones {
    font-size: 15px;
    margin: 10px 0px !important;
  }
  .texto2Direcciones {
    font-size: 8px;
    margin: 4px 0px;
  }
  .contenedorMapa {
    width: 140px !important;
    margin: 10px !important;
    padding: 0px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
  }
  .botonMapaContacto {
    width: 100px;
    height: 25px !important;
    font-size: 8px !important;
    padding: 1px !important;
    margin: 4px !important;
  }
}
