* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todasCards {
  margin: 20px 0px;
}
.contenedorContacto {
  width: 100vw;
  height: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedorImgContacto {
  margin: 10px !important;
  width: 40vw !important;
  height: 5vw !important;
  background-color: #02012b;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 15px;
  margin-top: 20px !important;
}
.comunicateConNosotros {
  height: 2.5vw !important;
  width: auto;
  margin: 10px;
}
.contenedorDirecciones {
  width: 70vw !important;
  height: 22vw;
  background-color: #02012b;
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.contenedorDirecciones:hover {
  transform: scale(1.02);
}
.contenedorIndividual {
  width: 65vw !important;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-evenly !important;
  padding: 20px;
}
.contenedorTextos {
  width: 22vw;
  display: flex;
  flex-direction: column;
}
.texto1Direcciones {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
  color: white;
  margin-bottom: 2vw !important;
}
.texto2Direcciones {
  margin-left: 0.2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  color: white;
  margin-bottom: 1vw !important;
}

.botonMapaContacto {
  width: 11vw;
  margin: 10px !important;
  background-color: white !important;
  color: #02012b !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-style: italic !important;
  text-transform: none !important;
  transition: transform 0.3s ease;
  font-size: 1vw !important;
}
.botonMapaContacto:hover {
  background-color: #02012b;
  color: white;
  border: 1px solid white;
  transform: scale(1.1);
}
.contenedorMapa {
  margin-left: 40px;
  width: 32vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contenedorBoton {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .contenedorContacto {
    width: 100vw !important;
    height: auto;
    margin: 0px;
  }
  .contenedorImgContacto {
    width: 70vw !important;
    height: 10vw !important;
    margin: 0px !important;
    margin-top: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .comunicateConNosotros {
    height: 18px !important;
    width: auto !important;
    margin: 1px !important;
  }
  .todasCards {
    width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px;
  }
  .contenedorDirecciones {
    width: 80vw !important;
    height: 30vw;
    margin: 5px !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .contenedorIndividual {
    width: 75vw !important;
    height: auto !important;
    margin: 5px;
    padding: 5px;
    display: flex !important;
    flex-direction: row !important;
  }
  .contenedorTextos {
    width: 30vw !important;
    margin: 8px !important;
    display: flex !important;
    align-items: start !important;
    justify-content: left !important;
  }
  .texto1Direcciones {
    font-size: 2vw;
    margin: 0px !important;
    margin-bottom: 5px !important;
    text-align: left !important;
    justify-content: left;
  }
  .texto2Direcciones {
    font-size: 1.5vw;
    margin: 3px 0px !important;
    text-align: left !important;
    justify-content: left;
  }
  .contenedorMapa {
    width: 45vw !important;
    margin: 10px !important;
    padding: 0px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row;
  }
  .botonMapaContacto {
    width: 12vw;
    height: 4vw !important;
    font-size: 1.2vw !important;
    padding: 1px !important;
    margin: 4px !important;
  }
}
