* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contentLayout {
  height: auto !important;
  align-items: center !important;
  justify-content: center !important;
  justify-items: center;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  width: 100vw !important;
  background-color: white;
}
