* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardContainer {
  min-width: 20vw !important;
  height: 25vw !important;
  border-radius: 20px;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  cursor: pointer !important;
  transition: transform 0.3s ease-in-out !important;
}

.cardContainer:hover {
  transform: scale(1.05);
}

.cardCard {
  background-color: #02012b !important;
  width: 20vw !important;
  height: 25vw !important;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-evenly !important;
  margin: 5px !important;
  padding: 5px !important;
  border-radius: 15px !important;
}

.card-placeholder {
  width: 20vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px !important;
  padding: 5px !important;
  background-color: #02012b; /* Fondo del placeholder */
  color: #888; /* Color del texto del placeholder */
  border-radius: 15px; /* Coincide con el border-radius de .cardCard */
}

.contenedorImgCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 12vw;
  margin-top: 1.5vw;
}

.imgCard {
  width: 12vw;
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.5vw;
}

.typo {
  height: 5vw !important;
  font-size: 1.5vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white !important;
  padding: 0vw;
  margin: 0.5vw !important;
}

.typo2 {
  height: 2vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white !important;
  padding: 2px;
  font-size: 0.8vw !important;
  margin: 5px 0px;
}

.buttonCard {
  background-color: white !important;
  color: black !important;
  border: none !important;
  width: 150px !important;
}

.contenedorTextoCard {
  display: flex;
  flex-direction: column;
  justify-content: start !important;
  width: 16vw !important;
  height: 8vw;
  margin-bottom: 1.5vw;
  padding: 0px !important;
}

@media only screen and (max-width: 480px) {
  .cardContainer {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    width: 22vw !important;
    height: auto !important;
    margin: 2px;
  }
  .cardCard {
    display: flex;
    align-items: center;
    justify-content: center !important;
    width: 22vw !important;
    height: auto !important;
    margin: 3% !important;
    padding: 0px !important;
  }

  .typo {
    height: 6vw !important;
    font-size: 1.8vw !important;
    margin-bottom: 5px !important;
    margin: 5px;
  }
  .typo2 {
    width: 18vw;
    height: 4vw !important;
    font-size: 1vw !important;
    margin: 5px;
  }
  .contenedorTextoCard {
    width: 20vw !important;
    height: auto;
    margin-bottom: 10px !important;
    padding: 2px !important;
  }
}
