* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardContainer {
  min-width: 20vw !important;
  height: 25vw !important;
  border-radius: 20px;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  cursor: pointer !important;
  transition: transform 0.3s ease-in-out !important;
}
.cardContainer:hover {
  transform: scale(1.05);
}
.cardCard {
  background-color: #02012b !important;
  width: 20vw !important;
  height: 25vw !important;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-evenly !important;
  margin: 5px !important;
  padding: 5px !important;
  border-radius: 15px !important;
}
.contenedorImgCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
}
.imgCard {
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  padding: 5px;
}
.typo {
  height: 5vw !important;
  font-size: 1.5vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white !important;
  padding: 2px;
  margin: 5px 0px !important;
}
.typo2 {
  height: 2vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white !important;
  padding: 2px;
  font-size: 0.8vw !important;
  margin: 5px 0px;
}
.buttonCard {
  background-color: white !important;
  color: black !important;
  border: none !important;
  width: 150px !important;
}
.contenedorTextoCard {
  display: flex;
  flex-direction: column;
  justify-content: start !important;
  width: 16vw !important;
  height: 8vw;
  margin: 2px;
  padding: 0px !important;
}

@media only screen and (max-width: 480px) {
  .cardContainer {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    width: 95px !important;
    height: 140px !important;
    margin: 2px;
  }
  .cardCard {
    display: flex;
    align-items: center;
    justify-content: center !important;
    width: 90px !important;
    height: 135px !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .contenedorImgCard {
    width: 50px;
    height: 50px;
    padding: 2px;

    margin-top: 10px !important;
  }
  .imgCard {
    width: 40px !important;
    height: 40px;
  }
  .typo {
    height: 6vw !important;
    font-size: 8px !important;
    margin-bottom: 5px !important;
  }
  .typo2 {
    height: 5vw !important;
    font-size: 5px !important;
  }
  .contenedorTextoCard {
    width: 80px !important;
    height: 15vw;
    margin-bottom: 10px !important;
    padding: 2px !important;
  }
}
