* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  size: 30rem;
  text-align: center;
  margin: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.itemList {
  width: 100vw !important;
  height: auto;
  display: flex !important;
  justify-content: center !important;
  margin: 3vw 0vw;
}
.contenedorCardItemList {
  width: 100vw !important;
  display: flex !important;
  justify-content: space-evenly !important;
}

@media only screen and (max-width: 480px) {
  .itemList {
    width: 95vw !important;
    height: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contenedorCardItemList {
    display: flex !important;
    justify-content: space-evenly !important;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw !important;
    height: auto !important;
    margin: 0px 0px !important;
  }
}
