* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  size: 30rem;
  text-align: center;
  margin: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.itemList {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .itemList {
    width: 480px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1px !important;
  }
}
