* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.seguiContainer {
  width: 50vw;
  height: auto;
  background-color: #02012b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 5px;
  border-radius: 50px;
  transition: color 0.3s ease-in-out;
}
.seguiContainer:hover {
  transform: scale(1.05);
}
.segui {
  width: 18vw !important;
  height: auto;
  background-color: #02012b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.searchIcon {
  color: white;
  font-size: 3vw !important;
  margin-left: 20px;
}
h5 {
  margin: 20px;
  color: #02012b;
}

@media only screen and (max-width: 480px) {
  .containerPrincipal {
    width: 100vw;
    height: auto !important;
  }
  .seguiContainer {
    width: 50vw !important;
    height: auto !important;
    transition: color 0.3s ease-in-out;
    margin: 20px;
  }
  .seguiContainer:hover {
    transform: scale(1.05);
  }
  .segui {
    margin: 8px;
    width: 18vw !important;
    height: auto !important;
  }
  .searchIcon {
    font-size: 3vw !important;
  }
  h5 {
    font-size: 14px;
    margin: 5px;
  }
}
