* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 0px !important;
}
.seguiContainer {
  cursor: pointer;
  width: 50vw;
  height: 5vw !important;
  height: auto;
  background-color: #02012b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 5px;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out !important;
}
.seguiContainer:hover {
  transform: scale(1.05);
}
.segui {
  width: 16vw !important;
  height: auto;
  background-color: #02012b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.searchIcon {
  color: white;
  font-size: 3vw !important;
  margin-left: 20px;
}

.estadoEnvio {
  font-size: 1.5vw;
  font-style: italic;
  margin: 20px;
  color: #02012b;
}

@media only screen and (max-width: 480px) {
  .containerPrincipal {
    width: 100vw;
    height: auto !important;
    margin: 10px 0px;
  }
  .seguiContainer {
    border-radius: 10px;
    width: 70vw;
    height: 8vw !important;
    transition: transform 0.3s ease-in-out !important;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .seguiContainer:hover {
    transform: scale(1.05);
  }
  .segui {
    margin: 8px;
    width: 22vw !important;
    height: auto;
  }
  .searchIcon {
    font-size: 4vw !important;
  }
  h5 {
    font-size: 2vw !important;
    margin: 5px;
  }
  .estadoEnvio {
    margin: 3px;
    font-size: 2vw;
  }
}
