* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardContainerServicios {
  width: 20vw !important;
  height: 25vw !important;
  border-radius: 20px;
  transition: transform 0.3s ease;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px !important;
  margin-bottom: 20px !important;
}

.cardContainerServicios:hover {
  transform: scale(1.03);
}

.cardCardServicios {
  width: 19vw !important;
  height: 24vw !important;
  cursor: pointer;
  background-color: #02012b !important;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-evenly !important;
  padding: 5px !important;
  border-radius: 15px !important;
  margin: 1px !important;
}

.linkServicios {
  width: 20vw !important;
  height: 25vw !important;
  text-decoration: none;
  padding: 5px;
}

.imgCardServicios {
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
}

.typoServicios {
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white !important;
  padding: 2px;
  font-size: 1.4vw !important;
}

.buttonCard {
  background-color: white !important;
  color: black !important;
  border: none !important;
  width: 150px !important;
}

.verMas {
  color: white !important;
  border: white;
}

.botonMas {
  background-color: #02012b !important;
  margin: 20px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-style: italic !important;
  border-color: white !important;
  color: white !important;
  text-transform: none !important;
}

.contenedorImgServicios {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  position: relative; /* Para posicionar el placeholder sobre la imagen */
}

.imgCardServicios {
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  position: relative; /* Para que el placeholder se posicione encima */
}

.placeholder-imgCardServicios {
  width: 5vw;
  height: 5vw;
  opacity: 0.5;
  background: #e0e0e0; /* Color de fondo del placeholder de imagen */
  border-radius: 50px;
  animation: bounce 1s infinite; /* Efecto bounce */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.contenedorTextoServicios {
  padding: 0px !important;
}

@media only screen and (max-width: 480px) {
  .cardContainerServicios {
    width: 80vw !important;
    height: auto !important;
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    padding: 0 !important;
    margin: 7px 2px !important;
    flex-direction: row !important;
  }
  .linkServicios {
    width: 80vw !important;
    height: 15vw !important;
    display: flex !important;
    justify-content: space-evenly !important;
    padding: 0px !important;
    flex-direction: row !important;
  }
  .cardCardServicios {
    display: flex !important;
    justify-content: space-evenly !important;
    width: 80vw !important;
    height: 15vw !important;
    flex-direction: row-reverse !important;
  }
  .contenedorTextoServicios {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 40vw !important;
    height: 40px;
    padding: 1px !important;
    margin: 2px !important;
  }
  .typoServicios {
    padding: 3px !important;
    font-size: 2.5vw !important;
    margin: 1px !important;
  }
  .contenedorImgServicios {
    width: 15vw !important;
    height: auto !important;
    margin: 5px !important;
  }
  .imgCardServicios {
    width: 14vw !important;
    height: auto;
  }
}
