* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardContainerServicios {
  width: 300px !important;
  height: 400px !important;
  border-radius: 20px;
  transition: transform 0.3s ease;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.cardContainerServicios:hover {
  transform: scale(1.04);
}
.cardCardServicios {
  cursor: pointer;
  background-color: #02012b !important;
  width: 300px !important;
  height: 400px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  padding: 5px !important;
  border-radius: 15px !important;
  margin: 1px !important;
}
.linkServicios {
  width: 300px !important;
  height: 400px !important;
  text-decoration: none;
  padding: 5px;
}
.imgCardServicios {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  padding: 5px;
}
.typoServicios {
  text-decoration: none !important;
  text-decoration-line: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white !important;
  padding: 2px;
}
.buttonCard {
  background-color: white !important;
  color: black !important;
  border: none !important;
  width: 150px !important;
}
.verMas {
  color: white !important;
  border: white;
}
.botonMas {
  background-color: #02012b !important;
  margin: 20px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-style: italic !important;
  border-color: white !important;
  color: white !important;
  text-transform: none !important;
}
.contenedorImgServicios {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.contenedorTextoServicios {
  padding: 1px;
}

@media only screen and (max-width: 480px) {
  .cardContainerServicios {
    width: 120px !important;
    height: 160px !important;
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    padding: 0 !important;
    margin: 2px 2px !important;
  }
  .linkServicios {
    width: 120px !important;
    height: 160px !important;
    display: flex !important;
    justify-content: space-evenly !important;
    padding: 0px !important;
  }
  .cardCardServicios {
    display: flex !important;
    justify-content: space-evenly !important;
    width: 120px !important;
    height: 160px !important;
  }
  .contenedorTextoServicios {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    padding: 1px !important;
    margin: 2px !important;
  }
  .typoServicios {
    padding: 3px !important;
    font-size: 11px !important;
    margin-top: 5px !important;
  }
  .contenedorImgServicios {
    width: 80px !important;
    height: auto !important;
    margin-bottom: 5px !important;
  }
  .imgCardServicios {
    width: 80px !important;
    height: auto;
  }
}
