* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container {
  width: 80vw !important;
  background-color: #02012b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
}
.nuestrosDepositos {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 300px;
}
.contenedorMapas {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px !important;
  width: 75vw !important;
  flex-wrap: wrap;
}

.cardMapas {
  background-color: white;
  border-radius: 20px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px !important;
  height: 500px;
  flex-wrap: wrap;
  margin: 25px 10px;
}
.textosMaps {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  text-align: center !important;
  margin-top: 20px;
}
.h2Depositos {
  font-size: 25px;
  margin: 10px;
  color: #02012b;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.h3Depositos {
  font-size: 18px;
  margin: 5px 0px;
  color: #02012b;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.h4Depositos {
  font-size: 18px;
  margin: 5px 0px;
  color: #02012b;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.botonMapa {
  background-color: #02012b !important;
  margin: 20px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-style: italic !important;
  text-transform: none !important;
  transition: transform 0.3s ease;
  cursor: pointer !important; /* Asegura que el cursor cambie a una mano */
}
.botonMapa:hover {
  background-color: white !important;
  color: #02012b;
  cursor: pointer !important; /* Asegura que el cursor cambie a una mano en el estado hover */
  transform: scale(1.1);
}
@media only screen and (max-width: 480px) {
  .Container {
    width: 350px;
    height: auto;
    display: flex !important;
    flex-direction: column !important;
  }
  .nuestrosDepositos {
    width: 230px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .contenedorMapas {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .cardMapas {
    width: 250px !important;
    height: auto;
    margin: 15px;
  }
  .textosMaps {
    width: 150px;
    margin-top: 10px;
  }
  .h2Depositos {
    font-size: 17px;
    margin: 1px;
  }
  .h3Depositos {
    font-size: 12px;
    margin: 1px;
  }
  .h4Depositos {
    font-size: 12px;
    margin: 1px;
  }
  .botonMapa {
    width: 130px !important;
    font-size: 12px !important;
    margin: 8px !important;
    margin-bottom: 15px !important;
  }
}
