* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container {
  width: 900px !important;
  background-color: #02012b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
}
.nuestrosDepositos {
  margin-top: 20px;
  width: 350px;
}
.contenedorMapas {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  width: 800px !important;
  flex-wrap: wrap;
  margin: 15px;
}

.cardMapas {
  background-color: white;
  border-radius: 20px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 320px !important;
  height: 420px;
  flex-wrap: nowrap;
  margin: 25px 20px;
}
.textosMaps {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  text-align: center !important;
  margin: 15px;
}
.h2Depositos {
  font-size: 22px;
  margin: 8px;
  color: #02012b;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.h3Depositos {
  font-size: 15px;
  margin: 3px 0px;
  color: #02012b;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.h4Depositos {
  font-size: 15px;
  margin: 3px 0px;
  color: #02012b;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.botonMapa {
  background-color: #02012b !important;
  margin: 20px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-style: italic !important;
  text-transform: none !important;
  transition: transform 0.3s ease;
  cursor: pointer !important; /* Asegura que el cursor cambie a una mano */
}
.botonMapa:hover {
  background-color: white !important;
  color: #02012b;
  cursor: pointer !important; /* Asegura que el cursor cambie a una mano en el estado hover */
  transform: scale(1.1);
}
@media only screen and (max-width: 480px) {
  .Container {
    width: 390px !important;
    margin: 10px 5px;
    height: auto;
    display: flex !important;
    flex-direction: column !important;
  }
  .nuestrosDepositos {
    width: 200px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .contenedorMapas {
    width: 380px !important;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .cardMapas {
    width: 170px !important;
    height: auto;
    margin: 5px !important;
    padding: 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
  }
  .textosMaps {
    width: 160px !important;
    margin: 10px;
    padding: 0px;
  }
  .h2Depositos {
    font-size: 14px;
    margin: 1px;
  }
  .h3Depositos {
    font-size: 10px;
    margin: 1px;
  }
  .h4Depositos {
    font-size: 10px;
    margin: 1px;
  }
  .botonMapa {
    width: 100px !important;
    font-size: 9px !important;
    margin: 8px !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
  }
}
