* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorTextosNosotros {
  margin: 1.5vw 1vw;
  margin-right: 3vw !important;
}
.contenedorTotal2 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedorCards2 {
  width: 90vw;
  height: auto;
  background-color: #d0e0ff48;
  border-radius: 15px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 20px;
}

.cardGeneral2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardCard2 {
  width: 80vw !important;
  min-height: 300px !important;
  padding: 20px !important;
  background-color: #02012b;
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  flex-direction: row;
  margin: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Añadimos una transición suave */
}

.cardCard2:hover {
  transform: scale(1.02); /* Aumenta el tamaño en un 5% */
}

.imagenCard2 {
  width: 12vw;
  margin: 30px;
}

.imgImg2 {
  width: 10vw;
}

.texto2 {
  font-size: 1.5vw !important;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

.texto3 {
  text-align: justify;
  font-size: 1.2vw;
  margin: 5px 0px;
  line-height: 3vw;
  color: white;
  font-weight: 250;
}

.texto4 {
  text-align: justify;
  font-size: 1.2vw;
  margin-left: 20px;
  line-height: 3vw;
  font-weight: 250;
  color: white;
}

.texto5 {
  text-align: justify;
  font-size: 1.3vw;
  margin: 0px;
  line-height: 3vw;
  font-weight: 450;
  color: white;
}

@media only screen and (max-width: 480px) {
  .contenedorTotal2 {
    width: 100vw !important;
    margin: 0px;
  }
  .contenedorImg2 {
    width: 70vw !important;
    height: 50px !important;
    margin-top: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .nosotrosImg2 {
    height: 18px !important;
    width: auto !important;
    margin: 1px !important;
  }
  .contenedorCards2 {
    width: 380px;
    margin: 10px !important;
  }
  .cardGeneral2 {
    width: 360px;
  }
  .texto1 {
    font-size: 2vw !important;
    margin: 10px 15px;
    line-height: 4vw;
  }
  .cardCard2 {
    width: 90vw !important;
    min-height: 15vw !important;
    margin: 5px !important;
    display: flex;
    flex-direction: row;
    padding: 2px !important;
  }
  .imagenCard2 {
    width: 15vw !important;
    margin-left: 20px !important;
    margin-right: 5px !important;
    align-items: center;
    text-align: center;
  }

  .imgImg2 {
    width: 12vw;
    margin: 1px;
  }
  .texto2 {
    text-align: left;
    margin: 5px 0px;
    font-size: 2.5vw !important;
  }
  .texto3 {
    font-size: 1.8vw;
    margin: 10px 5px;
    line-height: 3vw !important;
  }
  .texto4 {
    font-size: 1.8vw;
    margin: 5px 10px !important;
    line-height: 2.5vw;
  }
  .texto5 {
    font-size: 2vw !important;
    margin: 5px 5px;
    line-height: 2.5vw;
  }
  .contenedorTextosNosotros {
    width: 310px;
    padding: 0px !important;
  }
}
