* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorTotal2 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedorImg2 {
  margin-top: 40px !important;
  margin-bottom: 30px !important;
  margin: 20px;
  width: 600px;
  height: 70px;
  background-color: #02012b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.nosotrosImg2 {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 500px;
}

.contenedorCards2 {
  width: 90vw;
  height: auto;
  background-color: #d0e0ff48;
  border-radius: 15px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 20px;
}

.cardGeneral2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardCard2 {
  width: 80vw !important;
  min-height: 300px !important;
  padding: 20px !important;
  background-color: #02012b;
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  flex-direction: row;
  margin: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Añadimos una transición suave */
}

.cardCard2:hover {
  transform: scale(1.05); /* Aumenta el tamaño en un 5% */
}

.imagenCard2 {
  width: 200px;
}

.imgImg2 {
  width: 180px;
  margin: 50px;
}

.texto1 {
  font-size: 20px;
  text-align: justify;
  margin: 80px 120px;
  line-height: 40px;
}

.texto2 {
  font-size: 20px;
  text-align: left;
  color: white;
  margin-left: 30px;
  margin-bottom: 20px;
}

.texto3 {
  text-align: justify;
  font-size: 16px;
  margin: 5px 40px;
  line-height: 35px;
  color: white;
  font-weight: 250;
}

.texto4 {
  text-align: justify;
  font-size: large;
  margin: 10px 70px;
  line-height: 25px;
  font-weight: 250;
  color: white;
}

.texto5 {
  text-align: justify;
  font-size: 18px;
  margin: 10px 40px;
  line-height: 35px;
  font-weight: 450;
  color: white;
}

@media only screen and (max-width: 480px) {
  .contenedorTotal2 {
    width: 100vw !important;
    margin: 0px;
  }
  .contenedorImg2 {
    width: 70vw !important;
    height: 50px !important;
    margin-top: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .nosotrosImg2 {
    height: 18px !important;
    width: auto !important;
    margin: 1px !important;
  }
  .contenedorCards2 {
    width: 380px;
    margin: 10px !important;
  }
  .cardGeneral2 {
    width: 360px;
  }
  .texto1 {
    font-size: 12px;
    margin: 15px 20px;
    line-height: 25px;
  }
  .cardCard2 {
    width: 330px !important;
    margin: 10px !important;
    display: flex;
    flex-direction: column;
  }
  .imagenCard2 {
    width: 80px;
    margin: 0px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
  }

  .imgImg2 {
    width: 60px;
    margin: 5px;
  }
  .texto2 {
    text-align: center;
    margin: 2px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .texto3 {
    font-size: 11px;
    margin: 10px;
    line-height: 20px;
  }
  .texto4 {
    font-size: 12px;
    margin: 5px 20px !important;
    line-height: 20px;
  }
  .texto5 {
    font-size: 12px !important;
    margin: 5px 10px;
    line-height: 20px;
  }
  .contenedorTextosNosotros {
    width: 310px;
    padding: 5px !important;
  }
}
