* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nuestrosDestinos {
  height: 30px !important;
  width: auto;
  margin: 10px;
}
.provincias-localidades {
  width: 100vw;
}
.contenedorLocalidades {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.contenedorLabel {
  display: flex;
  flex-direction: column !important;
  background-color: #02012b;
  border-radius: 15px;
  height: auto;
  width: 55vw;
  cursor: pointer;
  margin: 15px 0px !important;
  padding: 25px;
  transition: transform 0.3s ease-in-out;
}
.contenedorLabel:hover {
  transform: scale(1.05);
}
.destinosH1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px !important;
  margin: 30px !important;
  margin-bottom: 90px !important;
}
.mapaImg {
  width: 30vw;
  margin: 0px;
}
.textosLabel {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin: 10px;
}
.textoSeleccionado {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin: 20px 50px;
  text-align: center;
}

.form-select {
  margin: 10px;
  width: 50vw;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer !important;
}

/* Estilos para react-select */
.react-select__control {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer !important ;
}

.react-select__option {
  padding: 15px;
  cursor: pointer !important;
}

.react-select__option--is-focused {
  background-color: #02012b;
  color: white;
  cursor: pointer !important;
}

.react-select__option--is-selected {
  background-color: #02012b;
  color: white;
  cursor: pointer;
}

.react-select__dropdown-indicator {
  display: none !important;
  cursor: pointer !important;
}

.react-select__indicator-separator {
  display: none !important;
  cursor: pointer !important;
}

.pediContainer {
  border-radius: 15px !important;
}

.contenedorTitulo3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  transition: transform 0.3s ease;
  margin: 30px 0px;
}
.linkPedi {
  width: 40vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px !important;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.linkPedi:hover {
  transform: scale(1.05);
}
.contenedorTitulo2:hover {
  transform: scale(1.02);
}
.cotizacion {
  width: 20vw !important;
  background-color: white;
}

.whatsappIcon {
  color: #02012b;
  font-size: 30px !important;
}
@media only screen and (max-width: 480px) {
  .nuestrosDestinos {
    height: 18px !important;
    width: auto !important;
    margin: 2px;
  }
  .destinosH1 {
    font-size: 15px !important;
    margin: 15px 10px !important;
  }
  .contenedorLocalidades {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    width: 100vw !important;
  }
  .mapaImg {
    width: 150px !important;
    height: auto !important;
  }
  .contenedorLabel {
    width: 90vw !important;
    height: auto !important;
    margin: 20px 5px !important;
    padding: 5px;
  }
  .textosLabel {
    margin: 10px 15px;
    font-size: 15px;
  }

  .cotizacion {
    width: 50vw !important;
  }
  .whatsappIcon {
    font-size: 20px !important;
  }
  .textoSeleccionado {
    font-size: 12px;
    margin: 10px;
    margin-top: 35px !important;
  }
  .form-select {
    width: 80vw;
    padding: 5px;
    margin: 5px 15px;
  }
  .contenedorTitulo3 {
    width: 85vw !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .linkPedi {
    width: 70vw;
  }
  .form-select {
    font-size: 10px;
  }
}
