* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.detailContainer {
  width: 100vw !important;
  min-height: 70vh !important;
  flex-direction: column !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0px;
}
.detailCard {
  background-color: #02012b !important;
  width: 40vw !important;
  height: 5vw;
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 15px !important;
  margin: 20px 0px;
}

.detailImgCard {
  width: 4vw !important;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 1px;
}
.detailTypo {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 1.6vw !important;
  color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.detailTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 60vw;
  min-height: 45vw;
  background-color: #d0e0ff48;
  color: #02012b;
  border-radius: 20px;
  font-size: larger;
  padding: 20px;
  margin: 20px;
}
.detailH3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4vw;
  margin: 20px !important;
  margin-left: 50px !important;
}
.cardContentServicios {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 5px !important;
  margin-left: 10px !important;
}
@media only screen and (max-width: 480px) {
  .detailContainer {
    width: 100vw !important;
    height: auto !important;
  }
  .detailCard {
    width: 70vw !important;
    height: 10vw !important;
    margin: 10px 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .detailTypo {
    font-size: 11px !important;
  }
  .detailImgCard {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 30px !important;
    height: 30px !important;
    margin: 5px !important;
  }
  .detailTextContainer {
    width: 360px !important;
    margin: 5px !important;
  }
  .detailH3 {
    font-size: 11px !important;
    margin: 10px !important;
  }
  .contenedorTotal {
    min-height: 80vh;
  }
}
