* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorTotal5 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px !important;
}
.contenedorImg2 {
  margin: 10px !important;
  width: 460px !important;
  height: 62px !important;
  background-color: #02012b;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 15px;
  margin-top: 20px !important;
}

.nosotrosImg2 {
  height: 30px !important;
  width: auto;
  margin: 10px;
}
.contenedorFlota {
  width: 90vw;
  height: auto;
  background-color: #d0e0ff48;
  border-radius: 15px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedorIntro {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  width: 85vw;
  padding: 30px 10px;
}
.contenedorCardVehiculos {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  align-items: start !important;
  justify-content: space-evenly !important;
  text-align: center;
  width: 90vw;
}
.cardVehiculos {
  width: 40vw;
  min-height: 700px;
  background-color: #02012b;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.cardVehiculos:hover {
  transform: scale(1.05);
}
.contenedorVehiculos {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px !important;
}

.texto1Flota {
  font-size: 18px;
  text-align: justify;
  margin: 10px;
}

.imgVehiculos {
  width: 30vw;
  border-radius: 15px;
  margin: 10px;
}
.titulosVehiculos {
  font-size: 25px !important;
  text-align: center;
  margin-top: 20px !important;
  color: white;
  border: 2px white !important;
}

.contenedorAux {
  width: 80vw;
  display: flex;
  flex-direction: column;
  background-color: #02012b !important;
  margin: 80px;
  align-items: center;
  justify-content: space-evenly !important;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.contenedorAux:hover {
  transform: scale(1.05);
}
.contenedorImgAux {
  width: 70vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

@media only screen and (max-width: 480px) {
  .contenedorImg2 {
    width: 70vw !important;
    height: 10vw !important;
    margin: 0px !important;
    margin-top: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .nosotrosImg2 {
    height: 18px !important;
    width: auto !important;
    margin: 1px !important;
  }
  .contenedorTotal5 {
    width: 100vw !important;
    margin: 10px 0px;
  }
  .contenedorFlota {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 380px;
    margin: 10px;
  }
  .texto1Flota {
    font-size: 11px;
    margin: 5px;
  }
  .contenedorIntro {
    margin: 10px;
    width: 350px;
    padding: 5px;
  }
  .contenedorCardVehiculos {
    width: 330px !important;
    min-height: 300px !important;
    margin: 0px !important;
  }
  .cardVehiculos {
    width: 330px;
    min-height: 200px !important;
    margin: 10px 0px;
  }
  .titulosVehiculos {
    font-size: 13px !important;
    margin: 10px 0px !important;
  }
  .contenedorVehiculos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0px !important;
    width: 310px;
  }
  .imgVehiculos {
    width: 140px;
    margin: 5px !important;
  }
  .contenedorAux {
    width: 330px !important;
    min-height: 10px !important;
    margin: 10px 0px;
    padding: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: column;
  }
  .contenedorImgAux {
    margin-top: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px !important;
    width: 310px;
  }
  /* .contenedorImg2 {
    width: 300px !important;
    height: 50px !important;
    margin-top: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .nosotrosImg2 {
    width: 260px;
    margin: 2px;
  }
  .contenedorFlota {
    width: 350px;
    margin: 1px;
  }
  .contenedorIntro {
    width: 330px;
    margin: 5px;
    padding: 5px;
    display: flex !important;
    align-self: center !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .texto1Flota {
    font-size: 12px;
  }
  .contenedorCardVehiculos {
    margin: 10px;
    width: 350px !important;
    height: 1000px !important;
    display: flex;
    flex-direction: column;
  }
  .cardVehiculos {
    width: 340px;
    height: 200px !important;
    margin: 0px;
    padding: 0px;
  }
  .titulosVehiculos {
    font-size: 20px !important;
    margin: 10px;
  }
  .contenedorVehiculos {
    width: 340px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px !important;
  }
  .imgVehiculos {
    width: 150px;
    margin: 7px !important;
  }
   */
}
