* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorTotal5 {
  width: 100vw;
  height: 70vw;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin: 0px !important;
}

.contenedorFlota {
  width: 90vw;
  height: auto;
  background-color: #d0e0ff48;
  border-radius: 15px;
  margin: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedorIntro {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  width: 85vw;
  padding: 30px 20px;
  margin: 10px;
}
.contenedorCardVehiculos {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  align-items: start !important;
  justify-content: space-evenly !important;
  text-align: center;
  width: 85vw;
  margin: 2vw !important;
}
.cardVehiculos {
  width: 25vw;
  height: 24vw;
  min-height: auto;
  background-color: #02012b;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.cardVehiculos:hover {
  transform: scale(1.03);
}
.contenedorVehiculos {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px !important;
}

.conteTextos {
  margin: 2vw 8vw !important;
}
.texto1 {
  font-size: 1.2vw !important;
  text-align: justify;
  margin: 2vw 0vw !important;
  line-height: 3vw;
}
.imgVehiculos {
  width: 30vw;
  border-radius: 15px;
  margin: 10px;
}
.contenedorTituloFlota {
  width: 20vw !important;
  height: 4vw !important;
  margin: 15px 0px;
}
.titulosVehiculos {
  background-color: #d0e0ff48;
  font-size: 1.3vw !important;
  text-align: center;
  color: white;
  border-radius: 15px;
  width: 20vw;
  height: 4vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorAux {
  width: 80vw;
  display: flex;
  flex-direction: column;
  background-color: #02012b !important;
  margin: 80px;
  align-items: center;
  justify-content: space-evenly !important;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.contenedorAux:hover {
  transform: scale(1.05);
}
.contenedorImgAux {
  width: 70vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.textoFlota {
  font-size: 1.3vw;
  color: white;
}
.contenedorTextosFlota {
  margin: 20px;
}

@media only screen and (max-width: 480px) {
  .contenedorImg2 {
    width: 70vw !important;
    height: 10vw !important;
    margin: 0px !important;
    margin-top: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .nosotrosImg2 {
    height: 18px !important;
    width: auto !important;
    margin: 1px !important;
  }
  .contenedorTotal5 {
    width: 100vw !important;
    min-height: 65vh !important;
    margin: 10px 0px;
  }
  .contenedorFlota {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 380px;
    margin: 10px;
  }
  .texto1Flota {
    font-size: 1.8vw !important;
    margin: 5px;
  }
  .contenedorIntro {
    margin: 10px;
    width: 350px;
    padding: 5px;
  }
  .contenedorCardVehiculos {
    width: 90vw !important;
    min-height: 300px !important;
    margin: 10px 0px !important;
  }
  .cardVehiculos {
    width: 40vw !important;
    height: auto;
    margin: 10px 5px;
    padding: 0px;
  }
  .contenedorTituloFlota {
    width: 35vw !important;
    margin: 5px;
    margin-top: 15px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
  }
  .titulosVehiculos {
    width: 30vw;
    height: 5vw !important;
    font-size: 2.2vw !important;
    margin: 0px !important;
    border-radius: 5px;
  }
  .contenedorVehiculos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0px !important;
    width: 310px;
  }
  .imgVehiculos {
    width: 140px;
    margin: 5px !important;
  }
  .contenedorAux {
    width: 330px !important;
    min-height: 10px !important;
    margin: 10px 0px;
    padding: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: column;
  }
  .contenedorImgAux {
    margin-top: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px !important;
    width: 310px;
  }
  .contenedorTextosFlota {
    width: 30vw;
    margin: 15px 5px !important;
  }
  .textoFlota {
    font-size: 2vw;
    margin: 8px 0px;
  }
  .texto1 {
    font-size: 2vw !important;
    line-height: 4vw;
    margin: 10px !important;
  }
  /* .contenedorImg2 {
    width: 300px !important;
    height: 50px !important;
    margin-top: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .nosotrosImg2 {
    width: 260px;
    margin: 2px;
  }
  .contenedorFlota {
    width: 350px;
    margin: 1px;
  }
  .contenedorIntro {
    width: 330px;
    margin: 5px;
    padding: 5px;
    display: flex !important;
    align-self: center !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .texto1Flota {
    font-size: 12px;
  }
  .contenedorCardVehiculos {
    margin: 10px;
    width: 350px !important;
    height: 1000px !important;
    display: flex;
    flex-direction: column;
  }
  .cardVehiculos {
    width: 340px;
    height: 200px !important;
    margin: 0px;
    padding: 0px;
  }
  .titulosVehiculos {
    font-size: 20px !important;
    margin: 10px;
  }
  .contenedorVehiculos {
    width: 340px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px !important;
  }
  .imgVehiculos {
    width: 150px;
    margin: 7px !important;
  }
   */
}
