* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .carousel-wrapper {
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  width: 100%;
}
.carousel-item {
  width: 100%;
  text-align: center;
}

.imageCarousel {
  width: 95%;
  margin: 20px;
  border-radius: 10px;
}

button {
  margin-left: 0px;
  width: 10vw !important;
}
.carousel-inner {
  margin: 5px;
  background-color: #02012b;
  border-radius: 10px;
}
.carousel-indicators {
  margin-bottom: 30px;
} */
.carousel-container {
  position: relative;
  width: 100vw;
  height: 43vw; /* Ajusta según el tamaño de tu imagen */
}

.skeleton-placeholder {
  width: 100vw !important;
  height: 40vw !important;
}

.imgCamion {
  width: 100vw !important;
  height: auto !important;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 480px) {
}
