* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footerContainer {
  margin: 0 !important;
  padding: 30px !important;
  background-color: #02012b;
  width: 100vw;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Para posicionar los elementos al principio y al final del contenedor */
  padding: 0 50px; /* Reducir el padding izquierdo y derecho */
}

.iconosContainer {
  display: flex;
  justify-content: space-evenly;
  width: 18vw;
}
.containerLogoFooter {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 20vw !important;
  margin: 2px;
}
.logoFooter {
  margin: 5px;
  width: 18vw !important;
  transition: transform 0.3s ease-in-out;
}
.logoFooter:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.icono {
  color: #02012b;
  background-color: white;
  border-radius: 50px;
  margin: 0.5vw;
  padding: 0.6vw;
  width: 4vw !important;
  height: 4vw !important;
  transition: transform 0.3s ease-in-out !important;
}
.icono:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 480px) {
  .footerContainer {
    width: 100vw;
    height: 100px;
    padding: 10px !important;
  }
  .containerLogoFooter {
    width: 25vw !important;
  }
  .logoFooter {
    width: 25vw !important;
    height: auto !important;
  }
  .iconosContainer {
    margin: 10px;
    width: 30vw;
  }
  .icono {
    width: 30px !important;
    height: 30px !important;
    padding: 2px;
    margin: 2px;
  }
}
