* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footerContainer {
  margin: 0 !important;
  padding: 30px !important;
  background-color: #02012b;
  width: 100vw;
  height: 22vh;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Para posicionar los elementos al principio y al final del contenedor */
  padding: 0 50px; /* Reducir el padding izquierdo y derecho */
}

.iconosContainer {
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
}
.containerLogoFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw !important;
}
.logoFooter {
  padding-left: 10px;
  padding-right: 30px;
  height: auto !important;
  width: 28vw !important;
  transition: transform 0.3s ease-in-out !important;
}
.logoFooter:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icono {
  color: #02012b;
  background-color: white;
  border-radius: 50px;
  margin: 1vw;
  padding: 1vw;
  width: 4.5vw !important;
  height: 4.5vw !important;
  transition: transform 0.3s ease-in-out !important;
}
.icono:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 480px) {
  .footerContainer {
    width: 100vw;
    height: 100px;
  }
  .logoFooter {
    width: 180px !important;
    height: auto !important;
    margin-left: -20px;
  }
  .icono {
    width: 30px !important;
    height: 30px !important;
    padding: 2px;
    margin: 5px;
  }
}
