* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorTotal {
  width: 100vw;
  height: auto !important;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.contenedorTitulo {
  width: 40vw;
  max-height: 8vw !important;
  background-color: #02012b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 30px !important;
}
.titulo {
  height: 2.5vw;
  margin: 10px;
}

h1 {
  size: 30rem;
  text-align: center;
  margin: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-decoration: none !important;
}
.itemList {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .contenedorTitulo {
    width: 60vw !important;
    height: 9vw !important;
    margin: 0px !important;
    margin-top: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 10px;
  }
  .titulo {
    height: 18px !important;
    width: auto !important;
    margin: 1px !important;
  }
  .contenedorTotal {
    width: 100vw !important;
    min-height: 65vh !important;
  }
}
