* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorTotal {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedorTitulo {
  margin: 10px !important;
  width: 460px !important;
  height: 62px !important;
  background-color: #02012b;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 15px;
  margin-top: 20px !important;
}
.nuestrosServicios {
  height: 30px !important;
  width: auto;
  margin: 10px;
}
h1 {
  size: 30rem;
  text-align: center;
  margin: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-decoration: none !important;
}
.itemList {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .contenedorTitulo {
    width: 70vw !important;
    height: 10vw !important;
    margin: 0px !important;
    margin-top: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .nuestrosServicios {
    height: 18px !important;
    width: auto !important;
    margin: 1px !important;
  }
  .contenedorTotal {
    width: 100vw !important;
    height: auto !important;
  }
}
